---
---
<!DOCTYPE html>
<html lang="en-us">

{% include head.html %}

<body>

    {% include sidebar.html %}

    <div class="content" style="position: absolute;">
        Settings:
        <br>
        <input type="range" min="5" max="20" value="10" step="any" id="sizeInput">
        <label for="sizeInput">Size</label>
        <br>
        <input type="range" min="1" max="6" value="3" step="any" id="speedInput">
        <label for="speedInput">Speed</label>
        <br>
        <input type="color" value="#00AAFF" id="colourInput">
        <label for="colourInput">Colour</label>
        <br>
        <button type="button" onclick="addBall()" name="addBallButton">Add ball</button>
        <!-- <p>Number of balls:</p> -->
        <br>
        <button type="button" onclick="resetBall()" name="resetButton">Reset</button>

    </div>

    <canvas id="myCanvas" width="10" height="10"></canvas>

    <script>
        // INITIALISATION
        var canvas = document.getElementById("myCanvas");
        var ctx = canvas.getContext("2d");
        var drawFreq = 5 // milliseconds

        var ballRadius = parseFloat(sizeInput.value);
        var ballColour = colourInput.value;
        var ballSpeed = parseFloat(speedInput.value);

        canvas.width = window.innerWidth;
        canvas.height = window.innerHeight;
        var ballArray = [];

        class Ball {
            constructor() {
                this.x = Math.random() * canvas.width;
                this.y = Math.random() * canvas.height;

                let angle = Math.random() * 2 * Math.PI;
                this.xAngle = Math.cos(angle);
                this.yAngle = Math.sin(angle);
            }

            drawBall() {
                let dx = ballSpeed * this.xAngle;
                let dy = ballSpeed * this.yAngle;

                if (this.x + dx + ballRadius >= canvas.width) {
                    this.xAngle = -this.xAngle;
                    this.x = canvas.width - ballRadius - 2;
                }
                if (this.x + dx - ballRadius <= 0) {
                    this.xAngle = -this.xAngle;
                    this.x = ballRadius + 2;
                }
                if (this.y + dy + ballRadius >= canvas.height) {
                    this.yAngle = - this.yAngle;
                    this.y = canvas.height - ballRadius - 2;
                }
                if (this.y + dy - ballRadius <= 0) {
                    this.yAngle = -this.yAngle;
                    this.y = ballRadius + 2;
                }

                dx = ballSpeed * this.xAngle;
                dy = ballSpeed * this.yAngle;

                this.x += dx;
                this.y += dy;

                for (let i = 2; i < 6; i++) {
                    ctx.beginPath();

                    let xoffset = dx * ballRadius / 6;
                    let yoffset = dy * ballRadius / 6;
                    ctx.arc(this.x - (4 * i * dx) - xoffset, this.y - (4 * i * dy) - yoffset, ballRadius / (1.5 * i), 0, Math.PI * 2);
                    ctx.fillStyle = "#cccccc";
                    ctx.fill();
                    ctx.closePath();
                }

                // Draw ball
                ctx.beginPath();
                ctx.arc(this.x, this.y, ballRadius, 0, Math.PI * 2);
                ctx.fillStyle = ballColour;
                ctx.fill();
                ctx.closePath();
            }
        }

        // USER INPUTS
        window.onresize = function () {
            canvas.height = window.innerHeight;
            canvas.width = window.innerWidth;
        }

        sizeInput.oninput = function () {
            ballRadius = parseFloat(sizeInput.value);
        }

        colourInput.oninput = function () {
            ballColour = colourInput.value;
        }

        speedInput.oninput = function () {
            ballSpeed = parseFloat(speedInput.value);
        }

        // ADD BALL
        function addBall() {
            ballArray.push(new Ball());
        }

        // RELOAD PAGE
        function resetBall() {
            location.reload()
        }

        // MAIN LOOP
        function main() {
            ctx.clearRect(0, 0, canvas.width, canvas.height);
            ballArray.forEach(item => item.drawBall());
        }

        setInterval(main, drawFreq)
    </script>
</body>
</html>