<div class="sidebar">
  <div class="container sidebar-sticky">
    <div class="sidebar-about">
      <h1>
        <a>
          Matt Notarangelo
        </a>
      </h1>
      <p class="lead"><a>Software Engineer</a><br>
        <hr>Welcome to my website!<br> Developed with HTML and CSS on Github Pages.<br>
      </p>
    </div>

    <nav class="sidebar-nav">
      <a class="sidebar-nav-item" href="/"><b>Home</b></a>
      <a class="sidebar-nav-item" href="/contact/">Contact me</a>
      <a class="sidebar-nav-item" href="https://github.com/MattNotarangelo" target="_blank">GitHub</a>
      <a class="sidebar-nav-item" href="https://linkedin.com/in/Matthew-Notarangelo/" target="_blank">LinkedIn</a>
      <!-- <span class="sidebar-nav-item">matt.notarangelo1@gmail.com</span> -->
    </nav>

    <p>&copy; 2021. Currently v1.0.0</p>
  </div>
</div>